<div class="player grey lighten-5">
    <div class="row">
        <div class="col s3">
            <img id="playerImage"
                 src="static/music-placeholder.png"
                 alt="album cover placeholder"
                 class="circle">
        </div>
        <div class="col s9">
            <div class="col s12 center"><p id="playerSongTitle">Click on a song to play</p></div>
            <div class="col s12 center" id="playButton" onclick="onPlayerPlay()"><i
                    class="material-icons">play_arrow</i></div>
            <div class="col s12 center hide" id="pauseButton" onclick="onPlayerPause()"><i
                    class="material-icons">pause</i></div>
        </div>
    </div>
</div>