
header, main, footer {
    padding-left: 300px;
}
#tableContainer {
    padding-top: 30px;
}

@media only screen and (max-width: 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

.sidenav li > a {
    overflow: hidden;
}

.added-playlist {
    background: lightgray !important;
}
.song-name {
    padding-left: 3px;
}

.nodata {
    height: 85vh;
}

.nodata .content {
    width: 100%;
}